:root {
    --primary-color: #42b5f5;
}

.container-slides {
    position: relative;
    margin: auto;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    z-index: 1;
}

input[name="radio-slides"] {
    display: none;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform .3s;
}

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.34%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.slide > img{
    width: 100%;
    min-height: 100%;
}

.manual-navigation,
.auto-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
    z-index: 2;
}

.manual-navigation > label,
.auto-navigation > span {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .1s;
}

.manual-navigation > label:not(:last-child),
.auto-navigation > span:not(:last-child) {
    margin-right: 15px;
}

.manual-navigation > label:hover,
.auto-navigation:hover {
    background-color: rgb(175, 171, 171);
}

.auto-navigation > span{
    background-color: white;
}

#radio1:checked ~ .slides {
    transform: translate(0%);
}

#radio2:checked ~ .slides {
    transform: translate(-33.34%);
}

#radio3:checked ~ .slides {
    transform: translate(-66.67%);
}

#radio1:checked ~ .auto-navigation > span:first-child {
    background-color: var(--primary-color);
}

#radio2:checked ~ .auto-navigation > span:nth-child(2) {
    background-color: var(--primary-color);
}

#radio3:checked ~ .auto-navigation > span:last-child {
    background-color: var(--primary-color);
}

.games-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 2%;
    row-gap: 30px;
    width: 100%;
    height: 40%;
    background-color: var(--primary-color);
}

.games-list .list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    z-index: 1;
}

.list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
    width: calc(100% - 4.5em);
    height: 100%;
    overflow: hidden;
}

ul i {
    position: absolute;
    font-size: 2.4em;
    cursor: pointer;
}

ul .left {
    left: -2%;
}

ul .right {
    right: -2%;
}

.list .game-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 32%;
    height: 100%;
    overflow: hidden;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.685);
}

.game-card .game-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: white;
    overflow: hidden;
}

.game-img img {
    transition: transform .3s;
}

.game-card:hover .game-img > img{
    transform: scale(1.06);
}

.game-card .game-content {
    width: 100%;
    height: 50%;
    padding: 6%;
    background-color: white;
}

.game-content .game-description {
    font-size: 1em;
}